nav {
    text-align: center; 
    background-color: lightblue; 
}

.nav a {
    margin: 0 15px; 
    text-decoration: none; 
    color: darkblue; 
    font-weight: bold; 
}

body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: cornsilk; 
}

h1 {
    color: darkblue; 
}

p {
    color: darkorchid; 
}

.contact-box {
    border: 2px solid darkblue; 
    padding: 30px; 
    margin: 150px auto; 
    width: 300px; 
    background-color: lightgreen; 
}

.purpose {
    border: 2px solid darkblue; 
    padding: 30px; 
    margin: 150px auto; 
    width: 500px; 
    background-color: lightpink;
}

.interest {
    border: 2px solid darkblue; 
    padding: 30px; 
    margin: 150px auto; 
    width: 400px; 
    background-color: lightcoral;
}